<div class="poke" *ngIf="($pokes | async) as pokes">
    <div class="poke-content">
        <app-poke-item *ngFor='let poke of pokes.results' [poke]="poke" class="poke-content-card"></app-poke-item>
    </div>
    <div class="poke-pagination">
        <button mat-raised-button color="primary" aria-label="Previous" (click)="previous()" [disabled]="index === 0">
            <mat-icon>arrow_back</mat-icon>
        </button>
        
        <button mat-raised-button color="primary" aria-label="Next" (click)="next()"  [disabled]="(index + 1) * 20 > pokes.count">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>
</div>