.poke {
    display: flex;
    flex-direction: column;
    padding: 3rem;

    &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &-card {
            min-width: 15rem;
            flex: 0 0 5rem;
            margin: 0.5rem;
        }
    }

    &-pagination {
        margin: 2rem;
        display: flex;
        justify-content: space-around;
    }
}
