<div *ngIf="($poke | async) as poke">
    <mat-card class="poke">
        <mat-card-title-group>
            <mat-card-title>{{poke.name}}</mat-card-title>
            <img mat-card-sm-image src='{{poke.sprites.front_default}}' loading="lazy">
        </mat-card-title-group>
        <mat-card-content>
            
            <div><b>Height :</b> {{poke.height}}</div>
            <div><b>Weight : </b> {{poke.weight}}</div>
            <div><b>Types : </b><span *ngFor="let type of poke.types">{{type.type.name}} </span></div>

            <app-poke-evo [url]="poke.species.url"></app-poke-evo>
        </mat-card-content>
    </mat-card>
</div>