<mat-card class="poke-item" [routerLink]="['/poke/poke', poke.name]" *ngIf="poke">
    <mat-card-title-group>
        <mat-card-title>{{poke.name | titlecase }}</mat-card-title>
        <button mat-icon-button color="primary" aria-label="En savoir plus" >
            <mat-icon>remove_red_eye</mat-icon>
        </button>
    </mat-card-title-group>
    <mat-card-content>
    </mat-card-content>
</mat-card>