<div *ngIf="($evos | async) as evos" class="poke-evo">
    <h2>Evolution</h2>
    <div [routerLink]="['/poke/poke', evos.chain.species.name]" class="poke-evo-child">{{evos.chain.species.name | titlecase}}</div>

    <ng-container *ngTemplateOutlet="recursivePokemon; context:{ list: evos.chain.evolves_to }"></ng-container>

    <ng-template #recursivePokemon let-list="list">
        <ng-container *ngFor="let  evo of list">
            <div class="poke-evo-child" [routerLink]="['/poke/poke', evo.species.name]">{{ evo.species.name | titlecase}}</div>
            <ng-container *ngIf="evo.evolves_to.length > 0">
                <ng-container *ngTemplateOutlet="recursivePokemon; context:{ list: evo.evolves_to }"></ng-container>
            </ng-container>
        </ng-container >
    </ng-template>
</div>