
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();


$my-blue: (
  50: #25304D,
  100: #25304D,
  200: #25304D,
  300: #25304D,
  400: #25304D,
  500: #25304D,
  600: #25304D,
  700: #25304D,
  800: #25304D,
  900: #25304D,
  A100: #25304D,
  A200: #25304D,
  A400: #25304D,
  A700: #25304D,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$my-red: (
  50: #FC5F5D,
  100: #FC5F5D,
  200: #FC5F5D,
  300: #FC5F5D,
  400: #FC5F5D,
  500: #FC5F5D,
  600: #FC5F5D,
  700: #FC5F5D,
  800: #FC5F5D,
  900: #FC5F5D,
  A100: #FC5F5D,
  A200: #FC5F5D,
  A400: #FC5F5D,
  A700: #FC5F5D,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$poke-front-primary: mat.define-palette(mat.$indigo-palette);
$poke-front-accent: mat.define-palette($my-red, A200, A100, A400);

// The warn palette is optional (defaults to red).
$poke-front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$poke-front-theme: mat.define-light-theme((
  color: (
    primary: $poke-front-primary,
    accent: $poke-front-accent,
    warn: $poke-front-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($poke-front-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
